{% extends 'layouts/main.html' %}
{% block title %}Dynamic Discounting{% endblock %}
{% block content %}
    Send updated invoices with discounted amounts
    {{ pagination.info }}
    {{ pagination.links }}
    <table>
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Client Email</th>
            <th>Invoice Amt</th>
            <th>Invoice Due Date</th>
            <th>Monthly Discount Rate(%)</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.invoiceNumber }}</td>
            <td>{{ invoice.clientEmail }}</td>
              <td>{{ invoice.invoiceAmt }}</td>
            <td>{{ invoice.invoiceDueDate }}</td>
              <form action="/dynamicDiscounting" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <td><input type="range" id="discount" name="discount"  value="10" min="0" max="100"><output for="discount" onforminput="value = discount.valueAsNumber;"></output>
                <input type="hidden" id="invoiceId" name="invoiceId" value="{{ invoice.invoiceNumber }}"></td>
            <td><input type="submit" name="my-form" id="sendDiscount2" value="Send Discount"></td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }}
    <script type="text/javascript">
        $(function() {
		 var el, newPoint, newPlace, offset;

		 // Select all range inputs, watch for change
		 $("input[type='range']").change(function() {

		   // Cache this for efficiency
		   el = $(this);

		   // Measure width of range input
		   width = el.width();

		   // Figure out placement percentage between left and right of input
		   newPoint = (el.val() - el.attr("min")) / (el.attr("max") - el.attr("min"));

		   // Janky value to get pointer to line up better
		   offset = -1.3;

		   // Prevent bubble from going beyond left or right (unsupported browsers)
		   if (newPoint < 0) { newPlace = 0; }
		   else if (newPoint > 1) { newPlace = width; }
		   else { newPlace = width * newPoint + offset; offset -= newPoint; }

		   // Move bubble
		   el
			 .next("output")
			 .css({
			   left: newPlace,
			   marginLeft: offset + "%"
			 })
			 .text(el.val());
		 })
		 // Fake a change to position bubble at page load
		 .trigger('change');
		});
	</script>
    <script type="text/javascript">
		$(function() {
            $('#sendDiscount').click(function() {
                var discount = $('#discount').val();
                var invoiceId = $('#invoiceId').val();
                $.ajax({
                    url: '/dynamicDiscounting',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
{% endblock %}