{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="homeContainer">
        <div class="floatLeft halfWidth" >
            <form action="{{ url_for('stripe_authorize') }}">
                <input type="submit" value="Integrate Payments via Stripe" class="btn btn-primary btn-lg btn-block" />
            </form>

            <form action="{{ url_for('dynamic_discounting') }}">
                <input type="submit" value="Send Invoice Discounts" class="btn btn-primary btn-lg btn-block" />
            </form>
        </div>
        <div class="floatRight halfWidth">
            <form action="{{ url_for('create_invoice') }}">
            <input type="submit" value="Create Invoices" class="btn btn-primary btn-lg btn-block" />
        </form>

        <form action="{{ url_for('sent_invoices') }}">
            <input type="submit" value="Sent Invoices" class="btn btn-primary btn-lg btn-block" />
        </form>
        </div>
    </div>
{% endblock %}