{% extends 'layouts/indexEnterprise.html' %}
{% block content %}

	<!-- Section: intro -->
    <section id="intro" class="intro thickBottomBorder">
		<div class="intro-content">
			<div class="container">
				<div class="row" id="indexMain">
					<div class="col-lg-6">
					<div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
					<h2 class="h-ultra">Scribe For Investors</h2>
					</div>
					<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
					<h4 class="h-light">Get access to a new asset class</h4>
					</div>
						<div class="well well-trans">
						<div class="wow fadeInRight" data-wow-delay="0.1s">

						<ul class="lead-list">
							<li><span class="fa fa-check fa-2x icon-success"></span><span>Get access to a continuous stream of recurring low risk high returns assets</span></li>
							<li><span class="fa fa-check fa-2x icon-success"></span><span>Scribe's advanced risk models protects you from any kind of non-payment risk</span></li>
						</ul>

						</div>
						</div>


					</div>
					<div class="col-lg-6">
						<div class="form-wrapper">
						<div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="panel panel-skin">
							<div class="panel-heading" style="padding-bottom:12px;">
									<h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Request a Demo <!--<small>(It's free!)</small>--></h3>
							</div>
								<div class="panel-body">
									<form role="form" method="post" class="lead">
										{% if form.csrf_token.errors %}
										  <div class="warning">You have submitted an invalid CSRF token</div>
										{% endif %}
										<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6">
												<div class="form-group">
													<label>Email</label>
													{{ form.email(class_ = 'form-control', required = true) }}
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6">
												<div class="form-group">
													<label>Phone number</label>
													{{ form.phone(class_ = 'form-control', required = true) }}
												</div>
											</div>
										</div>

										<input type="submit" value="Submit" class="btn btn-skin btn-block btn-lg">
									</form>
								</div>
							</div>				
						
						</div>
						</div>
					</div>					
				</div>		
			</div>
		</div>		
    </section>
	
	<!-- /Section: intro -->

	
	<!-- Section: features -->
    <section id="features" class="home-section nopadding paddingtop-60 thickBottomBorder">

		<div class="container">

			<div class="row centerAlign">
				<div class="col-sm-3 col-md-3">

					<div class="wow fadeInRight" data-wow-delay="0.1s">
					<div class="service-box">
						<div>
							<span class="fa fa-line-chart fa-3x fa-fw icon-feature"></span>
						</div>
						<div class="service-desc">
							<h5 class="h-light">Recurring low risk receivables</h5>
							<p>Scribe end-user integration lets you access a continuous stream of factorable receivables</p>
						</div>
					</div>
					</div>


				</div>
				<div class="col-sm-3 col-md-3">

					<div class="wow fadeInRight" data-wow-delay="0.1s">
					<div class="service-box">
						<div>
							<span class="fa fa-cog fa-3x fa-fw icon-feature"></span>
						</div>
						<div class="service-desc">
							<i class=""></i>
							<h5 class="h-light">Fraud detection technology</h5>
							<p>Our connected network allows us to get all the right datasets to detect any fraud before it happens</p>
						</div>
					</div>
					</div>

				</div>
				<div class="col-sm-3 col-md-3">

					<div class="wow fadeInRight" data-wow-delay="0.2s">
					<div class="service-box">
						<div>
							<span class="fa fa-usd fa-3x fa-fw icon-feature"></span>
						</div>
						<div class="service-desc">
							<i class=""></i>
							<h5 class="h-light">Seamless money transfer</h5>
							<p>Our end to end payment integrations removes any hassle involved in the investment process</p>
						</div>
					</div>
					</div>

				</div>

			</div>
			<!--
			<div class="row centerAlign" style="text-align:center">
				<h4> Industries We Serve</h4>

			<div class="col-sm-3 col-md-3">

				<div class="wow fadeInRight" data-wow-delay="0.1s">
                <h5> Logistics</h5>
				</div>


            </div>
			<div class="col-sm-3 col-md-3">

				<div class="wow fadeInRight" data-wow-delay="0.1s">
                <h5> Food</h5>
				</div>

            </div>
            <div class="col-sm-3 col-md-3">

				<div class="wow fadeInRight" data-wow-delay="0.2s">
				<h5> Manufacturing</h5>
				</div>

            </div>-->

        </div>
		</div>
	</section>
	<!-- /Section: services -->

{% endblock %}