{% extends 'layouts/main.html' %}
{% block title %}Sent Invoices{% endblock %}
{% block content %}
    Hi {{ current_user.name }},
        Thanks for using our service. We emailed the following invoices
    {{ pagination.info }}
    {{ pagination.links }}
    <table>
        {% for key, value in result.iteritems() %}
           <tr>
                <td> {{ key }}  &nbsp;&nbsp;</td>
                <td> <a href="{{ url_for('static', filename='invoices/'+current_user.name+'/'+value) }}" style="text-decoration: underline;">{{ value }}</a> </td>
           </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}
{% endblock %}