<!DOCTYPE html>
<html lang="en">
{% include 'layouts/header.html' %}
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	<nav class="navbar navbar-custom navbar-fixed-top" >
	    <div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					☰
				</button>
				<ul class="nav navbar-brand">
					<li><a href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='img/scribeLogo4.png') }}" style="width:100px;"></a></li>
				</ul>
			</div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }} <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="{{ url_for('update_business_details') }}">Update Account</a></li>
					  <li><a href="{{ url_for('sent_invoices') }}">Sent Invoices</a></li>
				  </ul>
			  </li>
			  <li><a href="{{ url_for('create_invoice') }}">Create Invoices</a></li>
			  <li><a href="{{ url_for('dynamic_discounting') }}">Dynamic Discounting</a></li>
			  <li><a href="{{ url_for('logout') }}">logout</a></li>
            </ul>
          </div>
        </div>
    </nav>
</div>
<!-- Begin page content -->
<main id="content" role="main" style="padding-top:20px;">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-block alert-error fade in">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</main>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
{% include 'layouts/mainFooter.html' %}
</body>

</html>