<!DOCTYPE html>
<html lang="en">
{% include 'layouts/header.html' %}
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	<nav class="navbar navbar-custom navbar-fixed-top" >
	    <div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					☰
				</button>
				<ul class="nav navbar-brand">
					<li><a href="{{ url_for('home') }}">Scribe Home</a></li>
				</ul>
			</div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }} <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="{{ url_for('update_business_details') }}">Update Account</a></li>
					  <li><a href="{{ url_for('sent_invoices') }}">Sent Invoices</a></li>
				  </ul>
			  </li>
			  <li><a href="{{ url_for('create_invoice') }}">Create Invoices</a></li>
			  <li><a href="{{ url_for('dynamic_discounting') }}">Dynamic Discounting</a></li>
			  <li><a href="{{ url_for('logout') }}">logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
<!-- Begin page content -->
<main id="content" role="main">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-block alert-error fade in">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</main>
<div class="sub-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="wow fadeInLeft" data-wow-delay="0.1s">
				<div class="text-left">
				<p>&copy;Copyright 2016 - Scribe, All rights reserved.</p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

{% include 'layouts/footer.html' %}
</body>

</html>