#DIV_1 {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(85, 85, 85);
    height: 82px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 960px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 480px 41px;
    transform-origin: 480px 41px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_1*/

#DIV_2 {
    background-position: 0px 0px;
    bottom: 31px;
    color: rgb(85, 85, 85);
    height: 23px;
    left: 657px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 28px;
    width: 302px;
    z-index: 4;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 151px 11.5px;
    transform-origin: 151px 11.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_2*/

#DIV_3 {
    background-position: 0px 0px;
    color: rgb(85, 85, 85);
    height: 23px;
    overflow-wrap: break-word;
    text-align: center;
    width: 302px;
    word-wrap: break-word;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 151px 11.5px;
    transform-origin: 151px 11.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Lato;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_3*/

#H1_4, #P_5 {
    background-position: 0px 0px;
    color: rgb(169, 169, 169);
    height: 23px;
    overflow-wrap: break-word;
    text-align: right;
    width: 302px;
    word-wrap: break-word;
    column-rule-color: rgb(169, 169, 169);
    perspective-origin: 151px 11.5px;
    transform-origin: 151px 11.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(169, 169, 169);
    font: normal normal normal normal 18px / 23px Lato;
    margin: 0px;
    outline: rgb(169, 169, 169) none 0px;
}/*#H1_4, #P_5*/

#FONT_6 {
    background-position: 0px 0px;
    color: rgb(169, 169, 169);
    overflow-wrap: break-word;
    text-align: right;
    word-wrap: break-word;
    column-rule-color: rgb(169, 169, 169);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(169, 169, 169);
    font: normal normal normal normal 18px / 23px Lato;
    outline: rgb(169, 169, 169) none 0px;
}/*#FONT_6*/

#DIV_7 {
    background-position: 0px 0px;
    bottom: 31px;
    color: rgb(85, 85, 85);
    height: 32px;
    left: 0px;
    position: absolute;
    right: 817px;
    text-align: center;
    top: 19px;
    width: 143px;
    z-index: 11;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 71.5px 16px;
    transform-origin: 71.5px 16px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_7*/

#STYLE_8 {
    color: rgb(85, 85, 85);
    text-align: center;
    column-rule-color: rgb(85, 85, 85);
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#STYLE_8*/

#DIV_9 {
    background-position: 0px 0px;
    color: rgb(85, 85, 85);
    height: 32px;
    text-align: center;
    width: 143px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 71.5px 16px;
    transform-origin: 71.5px 16px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Lato;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_9*/

#DIV_10 {
    background-position: -1px -16px;
    color: rgb(85, 85, 85);
    height: 32px;
    text-align: center;
    width: 143px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 71.5px 16px;
    transform-origin: 71.5px 16px;
    background: rgba(0, 0, 0, 0) url("https://storage.googleapis.com/instapage-user-media/3920e9f4/11993278-0-scribeName.png") repeat scroll -1px -16px / 144px 72px padding-box border-box;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 13px / 19px Lato;
    outline: rgb(85, 85, 85) none 0px;
}/*#DIV_10*/

