{% extends 'layouts/index.html' %}
{% block title %}Register Business{% endblock %}
{% block content %}
  <form method="post" class="form">
    {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.company(class_ = 'form-control first-input', placeholder = form.company.label.text, required = true, autofocus = true) }}
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    {{ form.phone(class_ = 'form-control first-input', placeholder = form.phone.label.text, required = true, autofocus = true) }}
    <!--<p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>-->
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block" >
  </form>
{% endblock %}