{% extends 'layouts/main.html' %}
{% block title %}Create Invoices{% endblock %}
{% block content %}
    <h2>Create Invoices</h2>
    <div class="halfWidth floatLeft">
        <form method="post" class="form">
            {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h3 class="form-heading">Single Invoice <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
            {{ form.invoiceNumber(class_ = 'form-control first-input', placeholder = form.invoiceNumber.label.text, required = true, autofocus = true) }}
            {{ form.clientName(class_ = 'form-control first-input', placeholder = form.clientName.label.text, required = true, autofocus = true) }}
            {{ form.clientEmail(class_ = 'form-control', placeholder = form.clientEmail.label.text, required = true) }}
            {{ form.clientPhone(class_ = 'form-control', placeholder = form.clientPhone.label.text, required = true) }}
            {{ form.itemSummary(class_ = 'form-control first-input', placeholder = form.itemSummary.label.text, required = true, autofocus = true) }}
            {{ form.description(class_ = 'form-control last-input', placeholder = form.description.label.text) }}
            {{ form.invoiceDueDate(class_ = 'form-control last-input', placeholder = form.invoiceDueDate.label.text, required = true) }}
            {{ form.invoiceAmt(class_ = 'form-control last-input', placeholder = form.invoiceAmt.label.text, required = true) }}
            <input type="checkbox">Send 30 and 60 day automated reminders</input>
            <input type="submit" value="create invoice" class="btn btn-primary btn-lg btn-block" >
        </form>
    </div>

    <div class="halfWidth floatRight">
        <form action="" method=post enctype=multipart/form-data class="form">
            <h3 class="form-heading">Bulk Invoices <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/><p>
            <input type="file" name="file">
            <span style="font-size:0.8em; padding-left:2%;">allowed formats: csv/tsv/xls/xlsx</span>
            <br>
            <br>
            <input type="checkbox">Send 30 and 60 day automated reminders</input>
            <input type="submit" value="Upload" class="btn btn-primary btn-lg btn-block">
        </form>
        <b>Your excel table should have the following column order:</b><br>
        <br>
             Invoice Number, Client Name, Client Email, Client Phone, Item Summary, Item Description, Invoice Due Date, Invoice Amount
        <br>
        <br>
        <a href="{{ url_for('static', filename='files/sampleInvoiceList.csv') }}" class="underlineDecorator">Download sample excel file</a>
        <a href="{{ url_for('static', filename='files/sampleInvoice.pdf') }}" class="underlineDecorator">Download sample Invoice generated</a>
    </div>

{% endblock %}