{% extends 'layouts/indexSupplier.html' %}
{% block title %}Send Mailers{% endblock %}
{% block content %}
  <form method="post" class="form form-reset">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3 class="form-heading">Send Mailer </h3>
    {{ form.name(class_ = 'form-control first-input last-input', placeholder = form.name.label.text) }}
    {{ form.email(class_ = 'form-control first-input last-input', placeholder = form.email.label.text) }}
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
  </form>
{% endblock %}
