{% extends 'layouts/index.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
  <form action="{{ url_for('reset_password', token=token) }}" method="POST" class="form form-reset">
      {{ form.password(class_ = 'form-control first-input last-input', placeholder = form.password.label.text) }}
      {{ form.confirm(class_ = 'form-control first-input last-input', placeholder = form.confirm.label.text) }}
    {{ form.csrf_token }}
    <input type="submit" value="Change my password" class="btn btn-lg btn-primary btn-block"/>
</form>
{% endblock %}
