body {
    background-color:#f9f9f9;
}

section {
    background-color:transparent;
}

.color {
	color: #e63d3d;
}
.alert {
    color:#e63d3d;
}

.well.well-trans.backgroundWhite {
    background-color:#fff;
}

.thickBottomBorder {
    border-bottom: solid #575757;
}

.navbar.navbar-custom {
    background-color:#fff;
}

.navbar-custom ul.nav li a {
    color:#575757;
}

.btn {
    background-color:#575757;
}

.homeContainer input.btn {
    background-color:#575757;
}

/* button */
.btn-skin {
  background-color: #e63d3d;
  border-color: #4ACCD1;
}

a:hover,.icon-success,.pagination>li>a,
a:focus {
    color: #e63d3d;
}

@media (max-width: 979px) and (min-width: 768px) {

    .intro-content {
        background-color:#f9f9f9;
    }

}

footer {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color:#575757;
}
/*
#indexMain h1, h2, h3, h4, h5, h6 {
    color:#fff;
}
*/
a{
    color:#575757;
}

.btn:hover{
    background-color:#e63d3d;
}

.navbar-collapse, .sub-footer{
    background-color:#fff;
}

.navbar .navbar-custom{
    background-color:#fff;
}

ul.topnav li a {
    color:#575757;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover,
.pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color:#4ACCD1;
}

.icon-success {
   ' color: #7db53b;'
   color:#4ACCD1;
}

.circled {
	background: #4ACCD1;
}

.con1 > div, .con2 > div, .con3 > div { 
	background-color: #4ACCD1;
}

.scrollup:hover {
	background: #4ACCD1;
}


/* service */

.service-icon span {
	color: #4ACCD1;
}

/* top */
.top-area {
	background: #3fbbc0;
}

/* menu */

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #3fbbc0;
}

.siteTitle{
    color:#e63d3d;
}

.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,.navbar-custom.top-nav-collapse .nav li.active a  {
    color: #e63d3d;
}


.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #4ACCD1;
}


.bg-skin {
	background: #4ACCD1;
}

.highlight-color {
	background-color: #4ACCD1;
}


/* pricing box  */
.pricing-content.featured h2,.pricing-content.featured .price-bottom {
	background-color:#3fbbc0;
}
.pricing-content.featured h3 {
	background:#4ACCD1;
}



/* team */
.cbp-l-grid-team-name {
    color: #3fbbc0;
}

.cbp-l-filters-button .cbp-filter-counter {
	background-color: #4ACCD1;
}

.cbp-l-filters-alignLeft .cbp-filter-item-active {
    /* @editable properties */
    background-color: #4ACCD1;
    border:1px solid #4ACCD1;
}

.cbp-l-filters-dropdownWrap {
    background: #4ACCD1;
}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    /* @editable properties */
    background-color: #4ACCD1;
    border-color: #4ACCD1;
}
.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight {
    /* @editable properties */
    background-color: #4ACCD1;
}

.cbp-l-caption-buttonLeft:hover,
.cbp-l-caption-buttonRight:hover {
    /* @editable properties */
    background-color: #3fbbc0;
}

.form-control:focus {
  border-color: #3fbbc0;
}