<!--{% include 'mailer/mailHeader.html' %}-->
<p>Hi {{ client.name }}</p>
<p>I am the co-founder of <a href="http://www.tryscribe.com/?utm_source=newsletter&utm_campaign=firstInteraction&utm_medium=email">Scribe</a> - an export factoring and bill discounting marketplace.
 We buy invoices from suppliers in Asia upfront and collect the payments from corresponding buyers at the maturity date.</p>
<p>I am writing to you to see if such a service will be useful for {{ client.company }}. Scribe's value proposition is three folds</p>
<ul>
  <li>We provide Collateral free working capital</li>
  <li>We offer foreign currency interest rates</li>
  <li>We take the risk of non-payment of your buyer</li>
</ul>
<p>Further, by choosing to work with us,you can expand your sales by providing more flexible payment
  terms (D/P, D/A as well as open credit terms) to your buyer. </p>
<p>Therefore, if working capital is not a challenge for you, that's great :) otherwise,
do reply and let me know and we can hop on a quick 15 min call to discuss this further.</p>
<p>Thanks and regards,<br>
  Sachin,<br>
  Co-founder, <a href="http://www.tryscribe.com/?utm_source=newsletter&utm_campaign=firstInteraction&utm_medium=email">Scribe(www.tryscribe.com)</a><br>
+1 (858) 666 7323</p>
<!--{% include 'mailer/mailFooter.html' %}-->