<p>Hi {{ client.name }}</p>
<p>Do you want to get US interest rates to finance your business? Are you looking for capital to grow? Have you lost open account export opportunities due to the risk of non-payment?</p>
<p>If so, we can help you solve your problems. I'm the CEO and my company <a href="http://www.tryscribe.com/?utm_source=newsletter&utm_campaign=firstInteraction&utm_medium=email">Scribe</a> can propel your company {{ client.company }}'s growth. </p>
<p>Scribe is an export factoring and bill discounting marketplace and its value proposition is three folds</p>
<ul>
  <li>We have US investors ready to finance your receivables in foreign currency interest rates!</li>
  <li>We collect the payment upon the due date from your customers and we take the buyer's non payment risk!</li>
  <li>Our services are collateral free!</li>
</ul>
<p>We are a San Francisco based, venture-backed company and operate in both the US & India. Collectively we have 10 years of experience across Harvard Business School, IIT Bombay, Mckinsey & Co, Palantir and other elite institutions.</p>
<p>To find out how to grow your business, please call me at +91 9591587303 or Whatsapp me at +1 8586667323. You can also email me with questions or your phone number and I will call you back. </p>
<p>Thanks,<br>
Sachin</p>

<p style="font-size: 10px"> p.s I received your email address from a friend of mine working in export-imports. If you don't like to receive emails, kindly click here to <a href="mailto:unsubscribe@tryscribe.com?Subject=Please%20unsubscribe%20me">Unsubscribe</a></p>