<p>Hi {{ client.name }}</p>

<p>I'll keep this short to make the 40 seconds it takes to read it well worth your time...Yes, I timed it.</p>

<p>I'm the Founder of  <a href="http://www.tryscribe.com/?utm_source=newsletter&utm_campaign=firstInteractionMedia&utm_medium=email">Scribe</a> - we help Digital Media companies like {{ client.company }} finance your 30-120 day invoices so you can grow faster. I wanted to learn how you handle that at {{ client.company }} and share with you what we do.

<p>We are a San Francisco based, venture-backed company and finance traditional as well as digital media receivables. Collectively we have 10 years of experience across Harvard Business School, IIT Bombay, Mckinsey & Co, Palantir and other elite institutions.</p>
<p>To find out how to grow your business, please call/text/whatsapp me or my co-founder at +1 (415) 746-9935 / +1 (858) 666-7323. You can also email me with questions or your phone number and I will call you back. </p>

<p>Thanks,<br>
Sachin</p>